*{
    margin: 0;
    padding: 0;
}
body{

    overflow: hidden;
}
#btn{
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    font-size: 1.5rem;
    border: 2px solid blueviolet;
    border-radius: 10px;
    
}
#sky{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url('img/background.jpg') no-repeat;
 
}
#trees{
    height: 65vh;
    width: 100%;
    background: url('img/trees.png') no-repeat  ;
    background-size: cover;
    position: absolute;
   
}
#track{
    height: 30vh;
    width: 500vw;
    background: url('img/track.png') repeat-x  ;
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: carMove linear 0.5s infinite;
    animation-play-state: paused;
}
#car{
    height: 100px;
    width: 280px;
    background: url('img/car_body.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15vh;
    left: 30vw;
    animation: Shake linear 0.5s infinite;
    animation-play-state: paused;
}

#wheel1{
    width: 52px;
    position: relative;
    top: 31px;
    left: 33px;
    animation: wheelRotation linear 0.01s infinite;
    animation-play-state: paused;
}
#wheel2{
    width: 54px;
    position: relative;
    top: -25px;
    left: 174px;
    animation: wheelRotation linear 0.01s infinite;
    animation-play-state: paused;
}

@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform: translateX(-100vw);
    }
}
@keyframes Shake{
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}

@media only screen and (max-width:422px) , (max-height:432px){
    body{
        overflow:hidden;
    }
    #car {
        height: 90px;
        width: 125px;
        bottom: 10vh;
        left: 18vw;
    }
    #wheel1{
        width: 23px;
        top: 14px;
        left: 15px;
    }
    #wheel2{
        width: 25px;
        top: -13px;
        left: 77px;
    }
    #track{
        animation: carMove linear 0.3s infinite;
        animation-play-state: paused;
    }
}
